<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="/static/lib/style.css" type="text/css">
<link rel="stylesheet" href="/static/lib/skeleton.css" type="text/css">
<link rel="stylesheet" href="/static/lib/normalize.css" type="text/css">
</head>
<body>
    <div class="topnav">
      <a class="active" href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('user_management') }}">User Management</a>
      <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>