{% extends "base.html" %}
{% block content %}
<div class="mt-5 container">
  <h1 style="text-align:center">Created Content</h1>
</div>
<div class="container">
  <div class="row">
  <div class="col-sm-6">
    <div class="card text-white bg-dark mb-3">
  <div class="card-header">Web application</div>
  <div class="card-body">
    <h5 class="card-title">Book creation</h5>
    <p class="card-text">Within this app, you can add books and reviews to a database. The books then get displayed
    at the home site.</p>
    <a href="http://127.0.0.1:5000/book_creation" class="btn btn-primary">Access</a>
  </div>
</div>
  </div>
  <div class="col-sm-6">
    <div class="card text-white bg-dark mb-3">
  <div class="card-header">Web application</div>
  <div class="card-body">
    <h5 class="card-title">Recipe finder</h5>
    <p class="card-text">Within this app, you can choose a number and get as many random recipes as requested.</p>
    <a href="#" class="btn btn-primary">Access</a>
  </div>
</div>
  </div>
</div>
  <div class="row">
  <div class="col-sm-6">
    <div class="card text-white bg-dark mb-3">
  <div class="card-header">Web application</div>
  <div class="card-body">
    <h5 class="card-title">Twitter Parser</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="http://127.0.0.1:5000/webparser" class="btn btn-primary">Access</a>
  </div>
</div>
  </div>
  <div class="col-sm-6">
    <div class="card text-white bg-dark mb-3">
  <div class="card-header">Web application</div>
  <div class="card-body">
    <h5 class="card-title">Tbd.</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Access</a>
  </div>
</div>
  </div>
</div>
</div>

{% endblock %}