{% extends "base.html" %}
{% block content %}
<title>Login</title>
<div>
  <br>
  <h1>Please login</h1>
  <form action="" method="post">
    <lable class="form-label">Username</lable>
    <input type="text" class="form-control" placeholder="Username" name="username" value="{{
      request.form.username }}">
    <lable class="form-label">Password</lable>
     <input type="password" class="form-control" placeholder="Password" name="password" value="{{
      request.form.password }}">
    <br>
    <input class="btn btn-secondary" type="submit" value="Login">
  </form>
  {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
  {% endif %}
</div>

{% endblock %}