{% extends "base.html" %}
{% block content %}
<title>User Management</title>

<div class="container">
  <br>
  <h1>Create a user!</h1>
    <form method="POST">
    {{ form.hidden_tag() }}
    {{ form.name.label(class="form-label") }}
    {{ form.name(class="form-control") }}
    <br>
    {{ form.submit(class="btn btn-secondary")}}
  </form>
  <br>
    {% if message %}
      <p>{{user}}{{message}}</p>
    {% endif %}
<!--  <h1>Existing User</h1>-->
<!--    <table>-->
<!--      <thead>-->
<!--        <tr>-->
<!--          <th>ID-->
<!--          <th>User Name-->
<!--          <th>Enabled-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      {% for user in all_user %}-->
<!--        <tr>-->
<!--          <td>{{user[0]}}-->
<!--          <td>{{user[1]}}-->
<!--          <td>{{user[2]}}-->
<!--        <tr>-->
<!--      {% endfor %}-->
<!--      </tbody>-->
<!--    </table>-->

</div>
{% endblock %}